@model ProductListViewModel

<table class="table-striped">
  @foreach (var product in Model.Products) {
  <tr>
    <td><a asp-controller="Product" asp-action="Detail" asp-route-id="@product.Id">@product.ProductName</a>
    <td>@product.UnitPrice</td>
  </tr>
  }
</table>
